body {
    background-color: #e6f2ff;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #003366;
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
    color: #444; 
}

form {
    background-color: white;
    border: 1px solid #cccccc; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    width: 500px;
    margin: 30px auto; 
    padding: 30px;
}


h3 {
    background-color: #003366;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
input[type="date"], 
select {
    width: 95%; 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

input:focus, select:focus {
    border-color: #003366;
    outline: none; 
    background-color: #f4f9ff; 
}

.botones-container {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"], 
input[type="reset"] {
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

input[type="submit"] {
    background-color: #28a745;
}

input[type="submit"]:hover {
    background-color: #218838; 
}

input[type="reset"] {
    background-color: #dc3545; 
}

/* ¡Truco 4: Efecto al pasar el mouse sobre el botón rojo! */
input[type="reset"]:hover {
    background-color: #c82333; /* Se pone más oscuro */
}
